<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('1.png' , size: '130x110') %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">情報を入力</h2>

    <%= form_with model: @tweet , local: true do |f| %>
    <%# 画像 %>
    <div class="img-upload">
    <label for=”id_img” >
<span>ファイルを選択</span>
<input id=”id_img” type=”file”>
</label>
      <%# <div class="weight-bold-text">
        <h2 class="tweet-form">画像</h2>
      </div> %>
      <div class="click-upload">
        <%= f.file_field :image, id:"tweet-image" %>
      </div>
    </div>
    <%# //画像 %>

    <%# 投稿内容入力欄 %>
    <div class="new-items">
      <div class="weight-bold-text">
        <h2 class="tweet-form">タイトル</h2>
      </div>
      <%= f.text_area :title, class:"tweet-title", id:"tweet-title" %>
      <div class="new-items">
      <div class="weight-bold-text">
        <h2 class="tweet-form">釣り場</h2>
      </div>
      <%= f.text_area :text_field, class:"tweet-title", id:"tweet-text_field" %>
      <div class="new-items">
      <div class="weight-bold-text">
        <h2 class="tweet-form">水深</h2>
      </div>
      <%= f.text_area :text_water_depth, class:"tweet-title", id:"tweet-text_water_depth" %>
      <div class="new-items">
      <div class="weight-bold-text">
        <h2 class="tweet-form">地形</h2>
      </div>
      <%= f.text_area :text_terrain, class:"tweet-title", id:"tweet-text_terrain" %>
      <div class="new-items">
      <div class="weight-bold-text">
        <h2 class="tweet-form">潮</h2>
      </div>
      <%= f.text_area :text_tide, class:"tweet-title", id:"tweet-text_tide" %>
      <div class="new-items">
      <div class="weight-bold-text">
        <h2 class="tweet-form">ロッド</h2>
      </div>
      <%= f.text_area :text_rod, class:"tweet-title", id:"tweet-text_rod" %>
      <div class="new-items">
      <div class="weight-bold-text">
        <h2 class="tweet-form">リール</h2>
      </div>
      <%= f.text_area :text_reel, class:"tweet-title", id:"tweet-text_reel" %>
      <div class="new-items">
      <div class="weight-bold-text">
        <h2 class="tweet-form">ライン</h2>
      </div>
      <%= f.text_area :text_line, class:"tweet-title", id:"tweet-text_line" %>
      <div class="new-items">
      <div class="weight-bold-text">
        <h2 class="tweet-form">リーダー</h2>
      </div>
      <%= f.text_area :text_leader, class:"tweet-title", id:"tweet-text_leader" %>
      <div class="new-items">
      <div class="weight-bold-text">
        <h2 class="tweet-form">ルアー</h2>
      </div>
      <%= f.text_area :text_lure, class:"tweet-title", id:"tweet-text_lure" %>
      <div class="new-items">
      <div class="weight-bold-text">
        <h2 class="tweet-form">カラー</h2>
      </div>
      <%= f.text_area :text_color, class:"tweet-title", id:"tweet-text_color" %>
      

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿" ,class:"sell-btn" %>
    </div>
    <div>
    <%=link_to '戻る', root_path, class:"sell-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>


</div>