<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @tweet.title%>
      </p>
      <%= link_to "by #{@tweet.user.name}", user_path(@tweet.user.id), class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
       <% if user_signed_in? && current_user.id == @tweet.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_tweet_path, class: :prototype__btn %>
          <%= link_to "削除する", tweet_path(@tweet.id), data: { turbo_method: :delete }, class: :prototype__btn %>
        </div>
        <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%= image_tag(@tweet.image, class: :card__img) %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">釣り場</p>
          <p class="detail__message">
            <%= @tweet.text_field %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">水深</p>
          <p class="detail__message">
            <%= @tweet.text_water_depth%>
          </p>
        </div>
         <div class="prototype__detail">
          <p class="detail__title">地形</p>
          <p class="detail__message">
            <%= @tweet.text_terrain%>
          </p>
        </div>
         <div class="prototype__detail">
          <p class="detail__title">潮</p>
          <p class="detail__message">
            <%= @tweet.text_tide%>
          </p>
        </div>
         <div class="prototype__detail">
          <p class="detail__title">ロッド</p>
          <p class="detail__message">
            <%= @tweet.text_rod%>
          </p>
        </div>
         <div class="prototype__detail">
          <p class="detail__title">リール</p>
          <p class="detail__message">
            <%= @tweet.text_reel%>
          </p>
        </div>
         <div class="prototype__detail">
          <p class="detail__title">ライン</p>
          <p class="detail__message">
            <%= @tweet.text_line%>
          </p>
        </div>
         <div class="prototype__detail">
          <p class="detail__title">リーダー</p>
          <p class="detail__message">
            <%= @tweet.text_leader%>
          </p>
        </div>
         <div class="prototype__detail">
          <p class="detail__title">ルアー</p>
          <p class="detail__message">
            <%= @tweet.text_lure%>
          </p>
        </div>
         <div class="prototype__detail">
          <p class="detail__title">カラー</p>
          <p class="detail__message">
            <%= @tweet.text_color%>
          </p>
        </div>
      </div>
        </ul>
      </div>

      <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %> 
      </div>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>

    </div>
  </div>
</main>
